@media (max-width: 869px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 870) and (max-width:1124px ) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1125px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

